includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
  level: 9
  customRulesetUsed: true
  ignoreErrors:
    - identifier: missingType.iterableValue
  checkBenevolentUnionTypes: true
  excludePaths:
    - %rootDir%/../../../tests/*
    - %rootDir%/../../../public/*
    - %rootDir%/../../../config/*
    - %rootDir%/../../../migrations/*