{% extends 'base.html.twig' %}

{% block title %}
    Charge Point Information
{% endblock %}

{% block body %}
    <h1>Charge Point “{{ chargePointId }}”</h1>

    <ul>
        <li>ID: {{ chargePointId }}</li>
        <li>Status: {{ chargePointId }}</li>
        <li>Location: {{ chargePointId }}</li>
    </ul>
{% endblock %}