{% extends 'base.html.twig' %}

{% block title %}
    List Charge Points
{% endblock %}

{% block body %}
    <h1>Charge Point List</h1>

    <ul>
        <li><a href="{{ path('charge_point_get_info', { chargePointId: 98756 }) }}">Santa Quiteria - Calle Lorca</a></li>
    </ul>
{% endblock %}